nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

nav.title {
    font-weight: 600;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    padding: 0.875rem 1.5rem;
    font-weight: 600;
    font-size: 0.875rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2, 1rem);
    padding-left: 1.5rem;
}