.formReg {
    display: flex;
    width: 100%;
    padding: var(--spacing-6, 2.5rem);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--Background-White, #FFF);
    position: absolute;
    margin: auto;
}

#reg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

#reg span {
    color: #F7B021;
}

.input, .select {
    display: flex;
    height: 3.3125rem;
    width: 100%;
    padding: var(--spacing-2, 1rem);
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex: auto;
    border: none;
    border-bottom: 0.6px solid var(--Borders-Stroke, #C0C4CA);
    color: #252D3C;
}

input, textarea:focus {
    outline: none;
}

h1 {
    color: var(--Text-Text-Primary, #161B23);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 2.4rem */
    letter-spacing: -0.04rem;
}

p {
    flex: auto;
    text-align: center;
    color: var(--Text-Text-Primary, #161B23);
    font-size: 1rem;
    font-style: normal;
    width: 45rem;
    font-weight: 600;
    line-height: 150%; /* 1.5rem */
    letter-spacing: -0.02rem;
}

#lastInput {
    width: 45rem;
}

#container {
    display: flex;
    width: 45rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-5, 2rem);
}

#regBtn {
    display: flex;
    width: 8.625rem;
    padding: 0.6875rem 2.4375rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: var(--Radius-sm, 0.25rem);
    background: #5BC5C9;
    color: var(--Brand-Primary, #1D1E4A);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.125rem */
    letter-spacing: -0.015rem;
    float: right;
}

button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 12px;
}

.grey-state {
    display: flex;
    padding: 0.6875rem 2.4375rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex: 1 0 0;
    border-radius: var(--Radius-sm, 0.25rem);
    background: var(--Background-Disabled-BG, #C0C4CA);
}

::placeholder, .choose{
    color: var(--Text-Text-Tertiary, #5D6676);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: -0.0175rem;
}

@media (max-width: 568px) {
    .formReg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0rem var(--spacing-2, 1rem);
        gap: var(--spacing-5, 2rem);
        width: 100vw;
    }
    #container {
        padding: var(--spacing-2, 1rem);
        margin: auto;
        width: 100%;
    }
    p {
        width: 100%;
        text-align: center;
        padding: var(--spacing-2, 1rem);
        align-self: stretch;
        font-size: 0.875rem;
        margin: auto;
    }
    h1{
        width: 100%;
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }
    .input, .select {
        display: flex;
        height: 3.3125rem;
        padding: var(--spacing-2, 1rem);
        align-items: center;
        gap: 0.625rem;
        align-self: stretch;
        width: 100%;
    }
    #regBtn {
        display: flex;
        padding: 0.6875rem 2.4375rem;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        float: none;
        margin: auto;
    }
    #lastInput {
        width: 100%;
        padding: var(--spacing-2, 1rem);
    }
}